// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media print {
    .no-print {
        display: none !important;
    }
}
