
h1,h2,h3,h4,h5{
    font-family: 'Nunito', sans-serif;
    font-weight: 300!important;
}
.div-hide{
    display: none;
}

.btn{
    font-size: 12px !important;
}
.form-control.error{
    border-color: #e01515 !important;
}
.error{
    color: #e01515;
    font-size: 12px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.with-border {
    border-bottom: 1px solid #f4f4f4!important;
}

textarea{
    resize: vertical;
}
